*.iml
.gradle/
local.properties
.idea/
.DS_Store
build/
captures/
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
release/
*.jks
*.keystore
*.key
google-services.json
.kotlin/
kotlin-js-store/
secrets.properties
keystore.properties

.jqwik-database
